@font-face {
    font-family: Helvetica,sans-serif;
    src: url("../../font/Goulong.ttf");
  }
  @font-face {
    font-family: Helvetica,sans-serif;
    src: url("../../font/LowveticaBold.ttf");
  }
  @font-face {
    font-family: Helvetica,sans-serif;
    src: url("../../font/Nimbus\ Sans\ Becker\ PBla\ Regular.otf");
  }
  @font-face {
    font-family: Helvetica,sans-serif;
    src: url("../../font/Warownia.otf");
  }